<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule ^index\.php/(.+)/$ https://roy-t.nl/$1.html [NE,L,R]

RewriteCond %{HTTPS} !=on
RewriteCond %{HTTP:X-Forwarded-Proto} !https [NC]
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
</IfModule>

<ifmodule mod_deflate.c>
 AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x- javascript application/javascript
</ifmodule>

ErrorDocument 404 /errors/404.html