<ifmodule mod_deflate.c>
 AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x- javascript application/javascript
</ifmodule>

RewriteEngine on


RewriteRule ^index\.php/(.+)/$ http://roy-t.nl/$1.html [NE,L,R]



ErrorDocument 404 /errors/404.html