<footer class="site-footer">

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <p>Info</p>
        <ul class="contact-list">          
          <li>{{ site.title }}</li>
          <li class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></li>  
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>          
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <p>Social</p>
        <ul class="social-media-list">        
          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}

          <li>
            {% include icon-youtube.html %}
          </li>

          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}          
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>Bio</p>
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
